/*==================
 CSS AVANÇADO (VARIAVEIS)
 ==================== */
 :root {
    --cor-principal: #3498db;
    --cor-secundaria: #2c3e50;
    --espaçamento: 16px
 }

/* RESET SIMPLES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BODY*/
body {
    font-family: Arial, Helvetica, sans-serif
}

/* =====================
   FLEXBOX (MENU)
===================== */




.cabecalho{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--espacamento);
    background: var(--cor-principal);
    color: rgb(28, 34, 155);

}
.menu{
    display:flex;
    gap: 10px
}

.menu a{
    color: blueviolet
}


